/* General Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(96 101 123);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255 255 255);
}

/* Container Styling */
.container {
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
}

/* Headings */
h2 {
  color: rgb(43 45 56);
  text-align: center;
  font-size: 36px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

p {
  max-width: 100%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.6;
}

/* Main Content Styling */
.main-content {
  width: 100%;
  min-height: 300px;
  padding: 18px;
  resize: none;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(255 255 255);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

/* Buttons */
.btn-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background: rgb(17 166 131);
  color: rgb(255 255 255);
  border-radius: 6px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:focus,
button:hover {
  background: rgb(42, 201, 164);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments for Smaller Screens */
@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
    padding: 16px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .main-content {
    font-size: 14px;
    padding: 12px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  .main-content {
    font-size: 12px;
  }

  button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
