
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Main container */
.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e4e8e8);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* Header */
h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  z-index: 1;
  animation: fadeIn 2s ease-in-out;
}

/* Gradient for the title */
span {
  font-size: 1.5rem;
  background: linear-gradient(to right, #8e44ad, #2ecc71);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1;
}

/* Button styling */
button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: #27ae60;
  color: white;
  box-shadow: 0px 8px 20px rgba(39, 174, 96, 0.4);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  margin-top: 20px;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 30px rgba(39, 174, 96, 0.5);
}

button:focus {
  outline: none;
}

/* Microphone Icon */
.mic {
  font-size: 1.8rem;
}

/* Text area for speech-to-text result */
textarea {
  margin-top: 20px;
  padding: 12px 18px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #27ae60;
  background-color: #ecf6f1;
  color: #333;
  font-size: 1.1rem;
  height: 120px;
  resize: none;
  transition: all 0.3s ease;
  z-index: 1;
}

textarea:focus {
  border-color: #8e44ad;
  outline: none;
}

/* Response Section */
.response {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

#aivoicespeak {
  width: 50vh;
  height: 80px;
}

p {
  color: #333;
  font-size: 14px;
  margin: 1rem 0;
  z-index: 1;
  animation: fadeIn 2s ease-in-out;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Button for copy to clipboard */
button.copy {
  background-color: #8e44ad;
  margin-top: 20px;
}

button.copy:hover {
  box-shadow: 0px 12px 30px rgba(142, 68, 173, 0.5);
}

/* Loading State */
.loading {
  color: #27ae60;
  font-size: 1.2rem;
  margin-top: 20px;
}
